<h1>Judoscale: GoodJob Sample</h1>

<p>
  Judoscale is reporting metrics to <a href="<%= Judoscale::Config.instance.api_base_url %>" target="_blank" rel="noreferrer"><%= Judoscale::Config.instance.api_base_url %></a>..
</p>
<p>
  Open that page to watch as metrics are being reported, and reload this page multiple times to collect and report web metrics.
</p>
<p>
  Enqueue test jobs using the form below.
  They will be slowly processed by GoodJob, while Judoscale collects and reports available queue metrics.
  <%= link_to "GoodJob Dashboard ↗", "/good_job", target: "_blank" %>.
</p>

<h2>GoodJob Queues</h2>

<% if notice %><p style="color:green"><%= notice %><% end %>
<% if alert %><p style="color:red"><%= alert %><% end %>

<% if @queues.any? %>
  <ul>
    <% @queues.each do |name, size| %>
      <li><%= name %>: <%= size %></li>
    <% end %>
  </ul>
<% else %>
  <p>No queues found.</p>
<% end %>

<h3>Enqueue Jobs</h3>

<%= form_with scope: :job, url: jobs_path, method: :post do |f| %>
  <div>
    <%= f.label :queue_name %>
    <%= f.select :queue_name, @available_queues, required: true %>
  </div>
  <div>
    <%= f.label :enqueue_count %>
    <%= f.number_field :enqueue_count, min: 1, max: 100, required: true %>
  </div>
  <div>
    <%= f.button "Enqueue Jobs" %>
  </div>
<% end %>
